
        <div>
            <fieldset>
                <legend>Cosa vuoi fare?</legend>  
                ATTENZIONE: Per utilizzare questo pannello &eacute; necessario conoscere la struttura del Database!

                  <fieldset>
                  <legend>Aggiungere Immagine</legend>   
                    <table cellpadding="5">

                     <tr> 
                       <td align="right"> ID: </td>
                       <td> <input type="text" id="idImgAdd" value=""/></td>
                     </tr>

                     <tr>
                       <td align="right"> SIZE: </td>
                       <td> <input type="text" id="SizeImgAdd" value="" /> </td>
                     </tr>
                     
                     <tr>
                       <td align="right"> TYPE </td>
                       <td> <input type="text" id="TypeImgAdd" value="" /> </td>
                     </tr> 
                     
                     <tr>
                       <td align="right"> IMMAGINE CODIFICATA </td>
                       <td> <input type="text" id="ImgAdd" value="" /> </td>
                     </tr> 
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnAddImg"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                  
                
                <fieldset>
                  <legend>Aggiornare Immagine</legend>   
                    <table cellpadding="5">

                     <tr> 
                       <td align="right"> COLONNA: </td>
                       <td> <input type="text" id="colImgUpdate" value=""/></td>
                     </tr>

                     <tr>
                       <td align="right"> VALORE </td>
                       <td> <input type="text" id="valImgUpdate" value="" /> </td>
                     </tr>
                     
                     <tr>
                       <td align="right"> ID IMMAGINE </td>
                       <td> <input type="text" id="idImgUpdate" value="" /> </td>
                     </tr> 
                
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnUpdateImg"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                
                <fieldset>
                  <legend>Rimuovere Immagine</legend>   
                    <table cellpadding="5">
                     
                     <tr>
                       <td align="right"> ID IMMAGINE </td>
                       <td> <input type="text" id="idImgRemove" value="" /> </td>
                     </tr> 
                
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnRemoveImg"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                
                <fieldset>
                  <legend>Aggiungere Prodotto</legend>   
                    <table cellpadding="5">
                     
                     <tr>
                       <td align="right"> ID PRODOTTO </td>
                       <td> <input type="text" id="idProdAdd" value="" /> </td>
                     </tr> 
                     <tr>
                       <td align="right"> NOME PRODOTTO </td>
                       <td> <input type="text" id="NomeProdAdd" value="" /> </td>
                     </tr>
                     <tr>
                       <td align="right"> DESCRIZIONE </td>
                       <td> <input type="text" id="DescrProdAdd" value="" /> </td>
                     </tr>
                     <tr>
                       <td align="right"> PREZZO </td>
                       <td> <input type="text" id="PrezzoProdAdd" value="" /> </td>
                     </tr>
                     <tr>
                       <td align="right"> ID SUPERMERCATO </td>
                       <td> <input type="text" id="SupProdAdd" value="" /> </td>
                     </tr>
                     <tr>
                       <td align="right"> CATEGORIA </td>
                       <td> <input type="text" id="CatProdAdd" value="" /> </td>
                     </tr>
                
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnAddProd"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                
                
                <fieldset>
                  <legend>Aggiornare Prodotto</legend>   
                    <table cellpadding="5">
                     
                     <tr> 
                       <td align="right"> COLONNA: </td>
                       <td> <input type="text" id="colProdUpdate" value=""/></td>
                     </tr>

                     <tr>
                       <td align="right"> VALORE </td>
                       <td> <input type="text" id="valProdUpdate" value="" /> </td>
                     </tr>
                     
                     <tr>
                       <td align="right"> ID PRODOTTO </td>
                       <td> <input type="text" id="idProdUpdate" value="" /> </td>
                     </tr> 
                
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnUpdateProd"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                
                <fieldset>
                  <legend>Rimuovere Prodotto</legend>   
                    <table cellpadding="5">
                     
                     <tr>
                       <td align="right"> ID PRODOTTO </td>
                       <td> <input type="text" id="idProdRemove" value="" /> </td>
                     </tr> 
                
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnRemoveProd"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                
                <fieldset>
                  <legend>Aggiungere Supermercato</legend>   
                    <table cellpadding="5">
                     
                     <tr>
                       <td align="right"> ID SUPERMERCATO </td>
                       <td> <input type="text" id="idSupAdd" value="" /> </td>
                     </tr> 
                     <tr>
                       <td align="right"> NOME SUPERMERCATO </td>
                       <td> <input type="text" id="NomeSupAdd" value="" /> </td>
                     </tr>
                     <tr>
                       <td align="right"> VIA </td>
                       <td> <input type="text" id="ViaSupAdd" value="" /> </td>
                     </tr>
                     <tr>
                       <td align="right"> CITTA </td>
                       <td> <input type="text" id="CittaSupAdd" value="" /> </td>
                     </tr>
                     <tr>
                       <td align="right"> CIVICO </td>
                       <td> <input type="text" id="CivicoSupAdd" value="" /> </td>
                     </tr>
                
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnAddSup"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                
                <fieldset>
                  <legend>Aggiornare Supermercato</legend>   
                    <table cellpadding="5">
                     
                     <tr> 
                       <td align="right"> COLONNA: </td>
                       <td> <input type="text" id="colSupUpdate" value=""/></td>
                     </tr>

                     <tr>
                       <td align="right"> VALORE </td>
                       <td> <input type="text" id="valSupUpdate" value="" /> </td>
                     </tr>
                     
                     <tr>
                       <td align="right"> ID SUPERMERCATO </td>
                       <td> <input type="text" id="idSupUpdate" value="" /> </td>
                     </tr> 
                
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnUpdateSup"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                
                <fieldset>
                  <legend>Rimuovere Supermercato</legend>   
                    <table cellpadding="5">
                     
                     <tr>
                       <td align="right"> ID SUPERMERCATO </td>
                       <td> <input type="text" id="idSupRemove" value="" /> </td>
                     </tr> 
                
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnRemoveSup"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                
                <fieldset>
                  <legend>Aggiornare Utente</legend>   
                    <table cellpadding="5">
                     
                     <tr> 
                       <td align="right"> COLONNA: </td>
                       <td> <input type="text" id="colUtUpdate" value=""/></td>
                     </tr>

                     <tr>
                       <td align="right"> VALORE </td>
                       <td> <input type="text" id="valUtUpdate" value="" /> </td>
                     </tr>
                     
                     <tr>
                       <td align="right"> ID UTENTE </td>
                       <td> <input type="text" id="idUtUpdate" value="" /> </td>
                     </tr> 
                
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnUpdateUt"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                
                <fieldset>
                  <legend>Rimuovere Utente</legend>   
                    <table cellpadding="5">
                     
                     <tr>
                       <td align="right"> ID UTENTE </td>
                       <td> <input type="text" id="idUtRemove" value="" /> </td>
                     </tr> 
                
                     
                     <tr>
                        <td colspan="2">
                               <input type="button"
                                      id="BtnRemoveUt"
                                      value="Submit" /> </td>
                     </tr>
                  </table>
                  </fieldset>
                
                
                
                
                
            </fieldset>
               </form>
                              </fieldset>
        
        </div>
