<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/acqua.jpg'>
			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Acqua</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/bagno.jpg'>
		<div class='media-body'>
			<p class='displayinline nome' id='nome'>Bagno</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/carne.jpg'>
		<div class='media-body'>
			<p class='displayinline nome' id='nome'>Carne</p>
		</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/cereali.jpg'>
			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Cereali</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/cioccolata.png'>
			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Cioccolata</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/condimenti.jpg'>
			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Condimenti</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
   		<img class='media-object pull-left' src='./img/Loghi_Categorie/formaggi.jpg'>
   			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Formaggi</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/frutta.jpg'>
			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Frutta</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/gelati.jpg'>
			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Gelati</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/ortaggi.jpg'>
			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Ortaggi</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/pasta.jpg'>
			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Pasta</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/patate.jpg'>
			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Patate</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
	<a class='navigate-right float-left'>
		<img class='media-object pull-left' src='./img/Loghi_Categorie/pesce.jpg'>
		  	<div class='media-body'>
  				<p class='displayinline nome' id='nome'>Pesce</p>
			</div>
	</a>
</li>
<li class='table-view-cell media categoria'>
  	<a class='navigate-right float-left'>
   		<img class='media-object pull-left' src='./img/Loghi_Categorie/vino.jpg'>
   			<div class='media-body'>
				<p class='displayinline nome' id='nome'>Vino</p>
			</div>
  	</a>
</li>