<head>
<link href="./style/styleSignInLogIn.css" rel="stylesheet" type="text/css" />
</head>
<div id="container">
<fieldset>
		<h1> Per accedere come utente </h1>
  <p><label for="email">Email</label>
  <input type="email" class="emailUtente" value="{{ email }}" placeholder="Inserisci la tua email"></p>
  <p><label>Password</label>
  <input type="password" class ="passwordUtente" value="{{ password }}" placeholder="Inserisci la tua password">
</p>
<button class='btn btn-negative btn-block loginUtente' id='ricerca'>Loggati!</button>
<div class='displaynone' id='errore'>
  <label>Errore: hai inserito dei dati sbagliati, riprova!</label>
</div>
<button class='btn btn-negative btn-block redirect' id='ricerca'>Vai alla SignIn </button>
</fieldset>
<fieldset>
    <h1> Per accedere come amministratore </h1>
  <p><label for="username">Username</label>
  <input type="username" class="usernameAdmin" placeholder="Inserisci la tua username"></p>
  <p><label>Password</label>
  <input type="password" class ="passwordAdmin" value="{{ password }}" placeholder="Inserisci la tua password">
</p>
<button class='btn btn-negative btn-block loginAdmin' id='ricerca'>Loggati!</button>
<div class='displaynone' id='errore'>
  <label>Errore: hai inserito dei dati sbagliati, riprova!</label>
</div>
</fieldset>
</div>
<!--<div class="input-row">
  <label>Email</label>
  <input type="email" class = 'emailUtente' value="{{ email }}" placeholder="Inserisci la tua email">
</div>
<div class="input-row">
  <label>Password</label>
  <input type="password" class = 'passwordUtente' value="{{ password }}" placeholder="Inserisci la tua password">
</div>
<button class='btn btn-negative btn-block loggati' id='ricerca'>Loggati!</button>
<div class='displaynone' id='errore'>
  <label>Errore: hai inserito dei dati sbagliati, riprova!</label>
</div>
<button class='btn btn-negative btn-block redirect' id='ricerca'>Se non sei ancora registrato vai alla SignIn </button>-->
