<!--  <div id="PgRegistrazione">
    <div id="formSignin">
        <form class="input-group"> <!--action="http://localhost/MyShopWeb/callnojson.php?func=Reg" method="post"--> -->
                <div class="input-row">
                  <label>Nome</label>
                  <input name="nome" type="text" id="nome" value="" placeholder="NomeEsempio">
                </div>
                <div class="input-row">
                  <label>Cognome</label>
                  <input name="cognome" type="text" id="cognome" value="" placeholder="CognomeEsempio">
                </div>
                <div class="input-row">
                  <label>Email</label>
                  <input name="email" type="email" id="email" value="" placeholder="tuamail@esempio.com">
                </div>
                <div class="input-row">
                  <label>Password</label>
                  <input name="password" type="password" id="password" value="" placeholder="xxxxxxxx">
                </div>
                <div>
                    <button name="Submit" id="btnRegistrati"  class="btn btn-primary btn-block">Registrati!</button>
                </div>
     <!--         </form>


        </div>
</div>  -->
        
