<body>
	<header class='bar bar-nav i-12'>
		<a class='icon icon-left-nav pull-left displaynone' id='back'></a>
		<h1 class='title' id='title'></h1>
	</header>

	<div id='content' class='content'></div>

	<nav class='bar bar-tab i-12'>
		<a class='tab-item active' id='nav1' href='#home'>
        	<span class="icon icon-home active"></span>
        	<span class="tab-label active">Home</span>
      	</a>
      	<a class='tab-item' id='nav2' href='#spotlight'>
        	<span class="icon icon-star-filled"></span>
        	<span class="tab-label">Spotlight</span>
      	</a>
      	<a class='tab-item' id='nav3' href='#categorie'>
        	<span class='icon icon icon-list'></span>
        	<span class='tab-label'>Categorie</span>
      	</a>
      	<a class='tab-item' id='nav4' href='#markets'>
        	<span class='icon icon-pages'></span> 
        	<span class='tab-label'>Markets</span>
      	</a>
     	<a class='tab-item' id = 'nav5' href='#ricerca'>
        	<span class='icon icon-search'></span>
        	<span class='tab-label'>Ricerca</span>
      	</a>
    </nav>
</body>